html {
    background: #DCE3E6;
    background-color: rgb(220, 227, 230);

    padding: 0 3%;
    padding-top: 0px;
    padding-right: 3%;
    padding-bottom: 0px;
    padding-left: 3%;
}
html {
    display: block;
}